<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<link href="{{asset('assets/img/saling-balas-logo-color.png')}}" rel="shortcut icon" />
<title>Saling Balas</title>
