@layout('layouts/main')

@section('section-body')
<div class="row">
    <div class="col-12 mb-4">
        <div class="hero bg-primary text-white">
            <div class="hero-inner">
                <h2>Welcome Back, Administrator!</h2>
                <p class="lead">This your dashboard</p>
            </div>
        </div>
    </div>
</div>
@endsection
