<!DOCTYPE html>
<html lang="en">
<head>
    @include('partials/metadata')
    @include('partials/styles')
</head>
<body>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            @include('partials/navbar')
            @include('partials/sidebar')
            <div class="main-content">
                @!section('section-header')
                <section class="section mt-large">
                  @!section('section-body')
                </section>
                @!section('modal')
            </div>

            @include('partials/footer')
        </div>
    </div>

    @include('partials/scripts')
</body>
</html>
